/*BREADCRUMBS*/
.breadcrumbs
	display: flex
	align-items: center
	justify-content: flex-start
	flex-wrap: wrap
	margin: -22px 0 2px
	font-size: 12px
	line-height: 20px
	color: map-get($colors, grey-lightest)
	.breadcrumbs-link
		color: inherit
		&:hover
			color: map-get($colors, main-dark)
	.breadcrumbs-link_cuurent
		color: map-get($colors, grey)


@media only screen and (max-width : 767px)
	/*BREDCRUMBS*/
	.breadcrumbs
		display: none
