@import "vars"

@media only screen and (max-width : 1024px)
	body
		padding-top: 0	
	.content-wrapper 
		.main
			width: 100%
		.sidebar
			display: none	


@media only screen and (max-width : 767px)
	.container
		padding: 0 15px
	.row .col-6
		width: 100%

	.content-wrapper .main
		padding-top: 15px
	
	.wrapper
		padding-top: 50px
		

	


