.popup
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: none
  flex-direction: column
  background: map-get($colors, white)
  z-index: 110
  .popup-header
    flex: 0 0 auto
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 20px 8px 20px 10px
  .popup-title
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 17px
    line-height: 20px
    font-weight: 700
    text-transform: uppercase
  .popup-close
    display: block
    width: 32px
    height: 32px
    margin-left: auto
    background: map-get($colors, white) url(../img/icon/close.png) no-repeat center
    border: none
  .popup-body
    flex: 0 1 100%
    background: map-get($colors, white)
    overflow-y: auto

.sticky
  position: fixed
  left: 0
  right: 0
  bottom: 0
  display: none
  background: map-get($colors, grey-lighter)
  z-index: 100
  .sticky-close
    position: absolute
    top: 0
    right: 0
    transform: translate(-10px, -100%)
    display: block
    width: 32px
    height: 32px
    background: map-get($colors, main) url(../img/icon/close.png) no-repeat center
    border: none



@media screen and (max-width: 767px)
    .popup
      display: flex
    .sticky
      display: block